// out: ../css/style.css, compress: false

.wow-gold-calculator-container
	background-color: rgba(0,0,0,1)
	padding: 1em
	font-size: 12pt
	color: #d1d1d1
	border: none
	border-radius: .3em

.wow-gold-calculator-container h2
	    display: block
	    font: bold 20px inherit
	    color: #d1d1d1
	    margin: 0 0 20px 0
.wow-gold-calculator-container input,.wow-gold-calculator-container  select
	    width: 100%
	    height: 2em
	    line-height: 2em
	    border-radius: 3px
	    border: none
	    padding: 0 1em
	    color: rgb(0,0,0) !important

.wow-gold-calculator-container label
	    width: 100%
	    height: 2em
	    line-height: 2em
	    border-radius: 3px
	    border: none
	    padding: 0 1em
	    color: rgb(255,255,255)

.wow-gold-calculator-container textarea
	    width: 100%
	    border-radius: 3px
	    border: none
	    color: rgb(0,0,0) !important

.wow-gold-calculator-container input[type='radio'],.wow-gold-calculator-container input[type='checkbox']
	    width: auto
	    height: auto
	    line-height: auto
	    position: absolute
	    top: 6px

.wow-gold-calculator-container .row
		padding 1em 0
		float none
